* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;

  -webkit-user-select: none; /* Disable text selection on iOS/Safari */
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none; /* Disable callouts like 'Save Image' */
  -webkit-user-drag: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #181818;
}

/* Main BMO body */
#bmoBody {
  border: 1px solid #000;
  border-radius: 4%;
  aspect-ratio: 3 / 4;
  background-color: #27c6a1cc;
  width: min(98vw, 70vh);
  height: auto;

  box-shadow: inset 0 0 20px 20px #000000aa;

  display: flex;
  flex-direction: column; /* Stack children vertically */
}

/* Screen takes top half */
#bmoScreen {
  width: 80%;
  position: relative;
  margin: 10% 10% 0 10%;
  overflow: hidden;
  border-radius: 5%;
  background-color: #000;
  border: 5px solid #0c3c31cc;
  aspect-ratio: 4 / 3;
}

/* Game canvas fills screen */
#gameCanvas {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  image-rendering: pixelated;
}

#bevel {
  position: absolute;
  width: 101%;
  height: 101%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  background: repeating-linear-gradient(
    to bottom,
    rgba(44, 233, 101, 0.1),
    rgba(44, 233, 101, 0.1) 2px,
    transparent 2px,
    transparent 4px
  );
  animation: movePattern 200ms linear infinite;
  box-shadow: inset 0 0 30px 5px black;
  border-radius: 5%;
  /* display: none; */
}

@keyframes movePattern {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 8px;
  }
}

/* Details take the bottom half */
#bmoDetails {
  flex: 1; /* Take remaining space */
  margin: 0% 10%;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-color: tomato; */
}

#topDetails {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  /* background-color: blue; */
}

#cassetteSlot {
  width: 55%;
  height: 40%;
  background-color: #0d271a;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: inset 0 0 5px 5px #000000aa;
}

#lightIndicator {
  width: 8%;
  margin-right: 8%;
  aspect-ratio: 1 / 1;
  background-color: #000064;
  border: 1px solid #000;
  box-shadow: inset 0 0px 5px 5px #000000aa;
  border-radius: 50%;
}

#controls {
  flex: 4;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  /* background-color: gray; */
}

#movePad{
  width: 50%;
  height: 100%;
  /* background-color:chocolate; */
}

#actionPad{
  width: 50%;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  /* background-color: white; */
}

.button{
  /* border: 1px solid #000; */
  filter: drop-shadow(0px 3px 1px black);
}

.button-clicked{
  filter: drop-shadow(0px 1px 1px black);
}

#greenCircle{
  width: 40%;
  grid-column: 2 / span 2;
  aspect-ratio: 1 / 1;
  background-color: green;
  border-radius: 50%;
  box-shadow: inset 0px -5px 10px -1px #000000aa;
  margin-top: 20%;
  margin-left: 30%;
}

#redCircle{
  width: 45%;
  grid-column: 1 / span 2;
  aspect-ratio: 1 / 1;
  background-color: rgb(232, 21, 21);
  border-radius: 50%;
  box-shadow: inset 0px -5px 10px 1px #000000aa;
  margin-bottom: 5%;
  margin-left: 30%;
}

#blueButton{
  grid-column: 1 / span 1;
  width: 80%;
  aspect-ratio: 1 / 1;
  margin-top: 10%;
  margin-left: 50%
}

#dpad
{
  position: relative;
  width: 50%;
  height: auto;
  aspect-ratio: 1 / 1;
  margin-bottom: 5%;
}

#arrows{
  margin: 5% 5%;
  width: 90%;
  height: auto;
  display: grid;
  grid: 3x3;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: aqua; */
  pointer-events: none;
}

#overlay::before,
#overlay::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgb(228, 228, 19);
  transform: translate(-50%, -50%);
  border-radius: 10%;
  pointer-events: none;
}

#overlay::before {
  width: 85%;
  height: 28%;
}

#overlay::after {
  width: 28%;
  height: 70%;
}

#centerSquare {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 34%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1 / 1;
  background-color: rgb(228, 228, 19);
  border: 2px solid #000;
  border-radius: 10%;
}

.arrow{
  background-color: rgb(228, 228, 19);
  aspect-ratio: 1 / 1;
  border-radius: 10%;
  width: 100%;
  border: 2px solid #000;
  user-select: none;
}

#upArrow{
  grid-column: 2 / span 1;
}

#leftArrow{
  grid-column: 1 / span 1;
}

#downArrow{
  grid-column: 2 / span 1;
  grid-row: 3;
}

#rightArrow{
  grid-column: 3 / span 1;
}

#bottomDetails {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 5%;
  justify-content: left;
}

.port{
  width: 20%;
  height: 40%;
  background-color: #000064;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: inset 0 0px 20px 1px #000000aa;
  margin-right: 10%;
  margin-bottom: 10%;
}

