[Unit]
Description=Retro Website Fastify API
After=network.target

[Service]
Type=simple
WorkingDirectory=/srv/1337play/server
ExecStart=/usr/bin/node /srv/1337play/server/server.js
Restart=always
RestartSec=5
TimeoutStopSec=10
User=deploy
Group=deploy
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
