.cta {
	position: relative;
	padding: 5px 50px;
	border: 1px solid #ccc;
	border-radius: 5% / 100%;
	box-shadow:
		0 0 5px var(--color-accent-flamingo-queen),
		inset 0 0 5px var(--color-accent-flamingo-queen);
	/* text-shadow: 0 0 10px var(--color-accent-cerise-pink); */
	transition: all 0.3s ease-in;
}

.cta::before {
	content: '';
	position: absolute;
	top: 0px; bottom: 0px; left: -12%;
	background: radial-gradient(circle, var(--color-accent-flamingo-queen) 0%, #0000 110%);
	width: 125%;
	z-index: -1;
	filter: blur(15px);
	opacity: .3;
}

.cta:hover {
	transition: all 0.3s ease-in;
}
