@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

@import 'tailwindcss';

html {
	overflow-anchor: none;
}

body > * {
	padding-inline: 1ch;
}

body {
	font-family: 'Tilt Neon', cursive;
}

@theme {
	--radius: 22px;
	--content-width: min(100%, 700px);
	--font-primary: 'Tilt Neon', cursive;
	--color-primary: #070111;
	--color-secondary: #1b1e28; 
	--color-accent-flamingo-queen: #cc30ff;
	--color-accent-cerise-pink: #ec407f;
	--color-accent-cyan: #00e5ff;
}

@layer utilities {
	.neon-tab-container {
		@apply flex justify-center my-2 mb-4 space-x-4;
	}

	.neon-tab {
		@apply relative px-4 py-2 border border-transparent rounded-[var(--radius)] cursor-pointer outline-none transition-all duration-300 ease-in;
	}

	.neon-tab::before {
		content: '';
		@apply absolute top-1/4 left-1/8 w-3/4 h-1/2 filter blur-[12px] opacity-30 transition-all duration-300 delay-100 ease-in;
		background: radial-gradient(circle, #0000 0%, #0000 110%);
	}

	.neon-tab.active {
		@apply border-[var(--color-accent-flamingo-queen)];
	}

	.neon-tab:hover::before {
		background: radial-gradient(circle, var(--color-accent-cerise-pink) 0%, #0000 110%);
		opacity: 0.5;
	}

	.neon-tab.active::before {
		background: radial-gradient(circle, var(--color-accent-cerise-pink) 0%, #0000 110%);
	}
}

html {
	--bw-s: 24px;
	--bw-g:conic-gradient(at 95% 45%,#0000 75%,#1b1e28 0);
	background: var(--bw-g),var(--bw-g) var(--bw-s) var(--bw-s) #0a141a;
	background-size: calc(2*var(--bw-s)) calc(2*var(--bw-s));
}

body {
	margin: 0;
	min-height: 100vh;
	background: radial-gradient(circle at center, transparent 70%, rgba(0,0,0,0.4) 100%);
	padding-block: 1px;
	color: white;
}

.section {
	background-color: var(--color-primary);
	width: var(--content-width);
	padding: 2rem;
	margin-inline: auto;
	border-radius: var(--radius);
	/* position: relative; */
	color: #eee;
	display: flex;
	flex-direction: column;
	gap: .75rem;
}

.section h2 {
	text-align: center;
	font-size: 1.5em;
	font-weight: 700;
	text-shadow: 0 0 2rem rgba(255,255,255,0.20);
}

.gradient-text {
	background: linear-gradient(90deg, var(--color-accent-flamingo-queen), var(--color-accent-cerise-pink));
	background-clip: text;
	color: transparent;
}

input { outline: none; }
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] { -moz-appearance: textfield; }
button { outline: none; }

/* Utility: hide scrollbars in scrollable containers */
.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
}
