@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

@import 'tailwindcss';

@theme {
	--font-primary: 'Tilt Neon', cursive;
	--color-primary: #070111;
	--color-secondary: #1b1e28; 
	--color-accent-flamingo-queen: #cc30ff;
	--color-accent-cerise-pink: #ec407f;
}

html {
	--bw-s: 24px;
	--bw-g:conic-gradient(at 97% 47%,#0000 75%,#1b1e28 0);
	background: var(--bw-g),var(--bw-g) var(--bw-s) var(--bw-s) #0a141a;
	background-size: calc(2*var(--bw-s)) calc(2*var(--bw-s));
}

body {
	margin: 0;
	min-height: 100vh;
	background: radial-gradient(circle at center, transparent 70%, rgba(0,0,0,0.4) 100%);
	padding: 1px 0;
}

.section {
	background-color: var(--color-primary);
	width: min(100%, 700px);
	padding: 1rem 2rem;
	margin: clamp(1rem, 5%, 3rem) auto;
	border-radius: .25rem;
	position: relative;
	color: #eee;
}

.section h2 {
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 1rem;
	font-weight: 700;
	text-shadow: 0 0 2rem rgba(255,255,255,0.20);
	box-shadow: 0 20px 20px -20px color-mix(in srgb, var(--color-accent-cerise-pink) 15%, #fff 5%);
	padding-inline: 2rem;
	padding-bottom: 0;
	margin-bottom: 1.5rem;
	margin-inline: auto;
	width: max-content;
	border-radius: 1rem;
}

.gradient-text {
	background: linear-gradient(90deg, var(--color-accent-flamingo-queen), var(--color-accent-cerise-pink));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
