:root { --float-duration: 6s; }

.cta {
	position: relative;
	padding: 10px 50px;
	border: 1px solid #ccc;
	border-radius: 5% / 100%;
	box-shadow:
		0 0 5px var(--color-accent-flamingo-queen),
		inset 0 0 5px var(--color-accent-flamingo-queen);
	/* text-shadow: 0 0 10px var(--color-accent-cerise-pink); */
	transition: all 0.3s ease-in;
	will-change: transform;
	animation: floatY var(--float-duration) ease-in-out infinite;
}

.cta::before {
	content: '';
	position: absolute;
	top: 0px; bottom: 0px; left: -12%;
	background: radial-gradient(circle, var(--color-accent-flamingo-queen) 0%, #0000 110%);
	width: 125%;
	z-index: -1;
	filter: blur(15px);
	opacity: .3;
	transition: all 0.3s ease-in;
	animation: haloSlide var(--float-duration) infinite ease-in-out;
}

@keyframes floatY {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-6px); }
  100% { transform: translateY(0); }
}

@keyframes haloSlide {
  0%   { filter: blur(10px); opacity: .20; }
  50%  { filter: blur(18px); opacity: .50; }
  100% { filter: blur(10px); opacity: .20; }
}
